
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* body{
  background: #dedede;
} */
.card-nav{
    margin: 16px;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
  background-image: linear-gradient(90deg, #c1baba 0px, #efefef 30px, #e2e2e2 60px);
  background-size: calc(170px + 170px);
  animation: refresh 3s infinite ;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper{
  width: 900px;
  max-width: 98%;
  margin: 55px auto;
  h2{
    color: white;
    letter-spacing: 1px;
    margin: 10px 0 5px 10px;
    font-family: 'Roboto', sans-serif;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    .card{
        margin: 16px;
        width: 254px;
        height: 323px;
        border-radius: 2rem;
      background-image: linear-gradient(90deg, #c1baba 0px, #efefef 30px, #e2e2e2 60px);
      background-size: calc(160px + 160px);
      animation: refresh 1.2s infinite ease-out;
    }
  }
}

@keyframes refresh {
  0% {
    background-position: calc(-160px);
  }
  60%, 100% {
    background-position: 160px;
  }
}