.grid-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    padding: 3rem;
}
.list-table{
   width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}